@model IEnumerable<MvcApiPersonajesJavierPantoja.Models.Personaje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Personajes" asp-action="Create">Crear Nuevo Personaje</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdSerie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSerie)
            </td>
            <td>
                <a asp-controller="Personajes" asp-action="Edit"  asp-route-id="@item.IdPersonaje">Modificar</a>
                <a asp-controller="Personajes" asp-action="Details" asp-route-id="@item.IdPersonaje">Detalles</a>
                <a asp-controller="Personajes" asp-action="Delete" asp-route-id="@item.IdPersonaje">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
